window {
    font-size: 25px;
    font-family: Roboto Condensed;
    background-color: #3F3F3F;
    color: #FFFFFF;
}

#outer-box, #inner-box {
    padding: 10px;
}

#input {
    background-color: rgba(30,30,30, 0.5);
    color: #FFFFFF;
    margin: 10px;
    border: 2px solid white;
    padding: 10px;
}

#entry:selected {
    background-color: #FFFFFF;
}

#text:selected {
    color: #000000;
    padding: 10px;
}

#window, #input, #entry:selected {
    border-radius: 10px;
}
